@use "../abstracts" as *;

.about {
  display: grid;

  @include breakpoint(large) {
    grid-template-columns: 1fr 1.38fr 0.97fr;
  }

  &__text-content {
    padding-block: $spacing-600;
    padding-inline: $spacing-400;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(medium) {
      padding-inline: $spacing-800;
    }

    @include breakpoint(large) {
      padding-inline: $spacing-600;
    }
  }

  &__heading{
    @include text-preset-3-bold;
  }

  &__img-container {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
