@use "../abstracts/" as *;

.cta-button {
  display: flex;
  align-items: center;
  gap: $spacing-400;
  transition:
    color 0.3s ease,
    fill 0.3s ease;

  &:hover,
  &:focus {
    color: $clr-gray-500;
    fill: $clr-gray-500;
  }

  &:focus {
    outline: 2px solid $clr-gray-500;
    outline-offset: 2px;
  }

  span {
    @include text-preset-4;
  }

  @include breakpoint(large) {
    width: fit-content;
  }
}

$btn--size: 5rem;

.hero__btns {
  position: absolute;
  display: flex;
  bottom: 50%;
  right: 0;

  @include breakpoint(large) {
    position: unset;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
  }

  button {
    width: $btn--size;
    height: $btn--size;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $clr-black;
    transition: background 0.3s ease;

    &:hover {
      background: $clr-gray-800;
    }
  }
}
