@use "variables" as *;

// TYPOGRAPGY
@mixin text-preset-1 {
    font-size: $fs-xl;
    line-height: $lh-90;
    letter-spacing: $ls-neg-2;
    font-weight: $font-semibold;
}

@mixin text-preset-2 {
    font-size: $fs-lg;
    line-height: $lh-100;
    letter-spacing: $ls-neg-2;
    font-weight: $font-semibold;
}

@mixin text-preset-3-bold {
    font-size: $fs-base;
    line-height: $lh-140;
    letter-spacing: $ls-7;
    font-weight: $font-bold;
}

@mixin text-preset-3-semi-bold {
    font-size: $fs-base;
    line-height: $lh-100;
    letter-spacing: $ls-neg-0_7;
    font-weight: $font-semibold;
}

@mixin text-preset-3-medium {
    font-size: $fs-base;
    line-height: $lh-140;
    letter-spacing: $ls-neg-0_5;
    font-weight: $font-medium;
}

@mixin text-preset-4 {
    font-size: $fs-sm;
    line-height: $lh-100;
    letter-spacing: $ls-12_5;
    font-weight: $font-medium;
}

// BREAKPOINTS
@mixin breakpoint-tablet {
    @media screen and (min-width: $bp-md) {
        @content;
    }
}

@mixin breakpoint-desktop {
    @media screen and (min-width: $bp-lg) {
        @content;
    }
}